.window {
    margin-top: 20px;
    height: 800px;
    width: 400px;
    box-shadow: 0 0 10px 1px  rgba(0, 0, 0, 0.76);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.158);
    color: white;
    margin-bottom: 0;
}

.line {
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(100% - 50px);
    color: "#00ff00";
    border-radius: 10px;
}

.label {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.degree {
    font-size: 50px;
    padding-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.degree::after {
    content: "°";
}

.icon {
    z-index: -1;
    scale: 5;
    margin-top: 50px;
    margin-bottom: 100px;
}

.addInfo {
    font-size: 20px;
    text-align: start;
    margin-left: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

